
<%= link_to 'Invite User', new_user_invitation_path, class: 'btn btn-primary' %>
<h1>Users</h1>

<table>
  <tr>
    <th> Id </th>
    <th> Name </th>
    <th> Role </th>
    <th> Email </th>
    <th> Action </th>
  </tr>

  <% @users.each do |user| %>
      <%= render 'user', user: user %>
  <% end %>
</table>
