<p class='alert alert-secondary p-without-newline m-1'> Question#<%= counter %>. </p>
<p class='p-without-newline'>
  <%= blank&.text_before %>
  <p class='p-without-newline alert alert-secondary'> </p>
  <%= blank&.text_after %>
  [ <%= blank.marks%> ]
</p>

<hr>
