<% unless @exam.mcqs.blank? %>
  <h3> MCQs </h3>
<% end %>

<% @exam&.mcqs&.each_with_index do |mcq, i| %>
  <%= render 'mcq', mcq: mcq, counter: i + 1 %>
<% end %>

<% unless @exam.blanks.blank? %>
  <h3 class='mb-3'> Fill in the blanks </h3>
<% end %>

<% @exam&.blanks&.each_with_index do |blank, i| %>
  <%= render 'blank', blank: blank, counter: i + 1 %>
  <hr>
<% end %>
