<% unless @exam.mcqs.blank? %>
  <h3> MCQs </h3>
<% end %>

<% i = 0 %>
<% while i < @exam&.mcqs&.count %>
  <%= render 'mcq', mcq: @exam.mcqs[i], counter: i + 1 %>
  <% i += 1 %>
<% end %>

<% unless @exam.blanks.blank? %>
  <h3 class='mb-3'> Fill in the blanks </h3>
<% end %>

<% i = 0 %>
<% while i < @exam&.blanks&.count %>
  <%= render 'blank', blank: @exam&.blanks[i], counter: i + 1 %>
  <hr>
  <% i += 1 %>
<% end %>
